/* GENERAL */

body {
    font-family: Poppins, "Helvetica Neue", sans-serif;
    line-height: 1.6;
    padding: 15px;
    text-align: center;
    color: #732104;
}



img {
    width: 100%;
}

/* BUTTONS */

.buttons {
    background-color: #ffdf7f;
    border: none;
    border-radius: 100px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    header .buttons {
        width: 200px;
    }
}

.header-button, .card-button {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #732104;
    font-weight: bold;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: #fef7e2;
    border-radius: 90px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.big-shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    font-size: 2.5em;
    padding: 50px 70px;
}

#big-shop-container img {
    width: 50px;
    
}

#small-shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-button {
    padding: 25px 25px;
    
}

/* header tablet */

@media screen and (min-width: 700px) {
    header {
        border-radius: 0;
    }

}

/* header medium */

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        padding-left: 0;
        padding-top: 0;
    }

    header, #small-shop-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0;
        border-radius: 0;
    }

    .big-shop {
        width: 114px;
        
        padding: 25px 25px;
    }

    .header-button, .card-button, .big-shop {
        font-size: 1em;
    }

    #big-shop-container img {
        width: 30px;
        
    }

}

/* header large */

@media screen and (min-width: 1200px) {
    /* idk */
}

/* MAIN */

h1 {
    font-size: 2.9rem;
    line-height: 1.2;
    font-weight: bolder;
    letter-spacing: -0.03em;
    margin: 50px;
}

/* CARDS MADNESS */

.cards-container {
    display: flex;
    flex-direction: column;
}

.cards {
    background-color: #fef7e2;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

/* dentro la card abbiamo: 3 container, uno per l'img, uno per i testo e uno per il tasto */

.cards img {
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
}


/* cards content */

.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bio-container {
    margin: 10px;
}

h4 {
    font-weight: bold;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}


/* button container card */

.card-button {
    padding: 15px 100px;
}

/* cards tablet */

@media screen and (min-width: 700px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cards {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }

    .cards img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .card-button {
        padding: 15px 70px;
    }
}

@media screen and (min-width: 1024px) {
    article {
        margin: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .cards {
        border-radius: 50px;
    }

    .cards img {
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    .card-button {
        padding: 15px 50px;
    }
}


/* Latest NEWS */

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 2.2em;
}

section {
    background-color: #fef7e2;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    padding: 30px 40px;
    text-align: left;
}

section p {
    margin-bottom: 15px;
}



@media screen and (min-width: 700px) {
    section {
        border-radius: 10px;
    }
}

@media screen and (min-width: 1024px) {
    section {
        margin: 20px;
    }
}

@media screen and (min-width: 1200px) {
    
}